img {
    border-radius: 20%;
    border: 1px solid red;
    margin: 0 auto;
}
.menu {
    margin-bottom: 30px;
    border-radius: 20%;
    border: 1px solid black;
    width: 170px;
    padding: 10px;
    text-align: center;
}